*{
    margin: 0 auto;
    padding: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
/*nav part*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sec-btn{
    display: flex;
    gap: 32px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
.btn-main{
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    width: 150px;
    background-color: #30B868;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.btn-main:hover{
    background-color: #0e2613;
}

/*hero part*/

#hero{
    padding-top: 115px;
    height: 600px;
    background-size: cover;
    background-image:url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    text-align: center;
}
.hero-title{
    height: 36px;
    width: 240px;
    display: flex;
    background: #FFFFFF;
    border-radius: 20px;
}
#hero .hero-title a{
    padding-top: 8px;
    text-decoration: none;
    color: #30B868;
}
#hero .hero-title img{
    padding: 5px;
}
.hero-text h2{
    font-size: 70px;
    font-weight: 600;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.hero-text #color{
    color: #30B868;
}
.hero-text p{
    color: #ffffffba;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}
#hero .hero-btn{
    padding: 16px 46px 16px 16px;
    border: none;
    border-radius: 5px;
    width: 240px;
    background-color: #469165;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
#hero .hero-btn:hover{
    background-color: #436b32;
}
#hero .style1{
    border: 1px solid white;
    background-color: #46916500;
}
#hero .style1:hover{
    background-color: #caccc99c;
}

/*card part*/

#card .card-container{
    width: 80%;
    text-align: center;
}
.card-container .card-text h2{
    font-size: 45px;
    font-weight: bold;
    color: #001931;
    padding-top: 80px;
    padding-bottom: 15px;

}
.card-container .card-text p{
    color: #627382;
    font-size: 15px;
    padding-bottom: 45px;
}
.card-container .card{
    display: flex;
    gap: 25px;
}
.card-container .card-img{
    background-color: #F95555;
    border-radius:50px;
    padding: 14px;
    margin-bottom: 16px;
}
.card-container h3{
    font-size: 25px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.card-container p{
    color: #627382;
    font-size: 400;
    line-height: 20px;
    text-align: center;
    padding: 0 24px;
}
.card-style{
    padding: 69.5px 20px;
    box-shadow: 0px 0px 8px 0px #1c222a1a;
    margin-bottom: 120px;
}

/*brainstorming part*/

#brainstorming .brainstorming-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.brainstorming-container .brainstorming-text{
    padding: 100px 0;
}
.brainstorming-container .brainstorming-text h6{
    color: #30B868;
    font-size: 15px;
    line-height: 10px;
    padding-bottom: 16px;
}
.brainstorming-container .brainstorming-text h3{
    font-size: 45px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}
.brainstorming-container .brainstorming-text p{
    font-size: 15px;
    font-weight: 400;
    color: #627382;
    padding-bottom: 40px;
}
.brainstorming-container .brainstorming-text li{
    font-size: 15px;
    font-weight: 500;
    list-style:none;
    padding-bottom: 16px;
}

/*challenge section*/

#challenge .challenge-container{
    height: 385px;
    width: 80%;
    text-align: center;
    margin: 115px 120px 150px;
    background-color: #F7F6F2;
    border-radius: 15px;
}
.challenge-header h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    padding: 80px 40px 16px 40px;
}
#challenge .style2{
    width: 20%;
}
.challenge-header p{
    color: #627382;
    padding-bottom: 24px;
    font-size: 16px;
}
.extra1{
    padding-top: 16px;
    color: #627382;
    font-size: 16px;
}

/*footer part*/

#footer{
    background-color: #001931;
}
#footer .footer-container{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 120px 80px;
}
#footer .footer-container .link1 h4{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px;
}
#footer .footer-container .link1 a{
    margin-right: 16px;
}
.copyright{
    width: 80%;
    color: #fafafa98;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-bottom: 30px;
    border-top: 1px solid #ffffff36;
    margin-left: 120px;
    padding-top: 36px;
}
